body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.chat-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.messages {
  padding: 15px;
  overflow-y: scroll;
  height: 500px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message.sender {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.message-text{
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  display: inline-block;
}

.message-text.receiver {
  background-color: #75e20f;
  color: #000;
}

.message-input {
  padding: 15px;
  display: flex;
  align-items: center;
}

.input-group {
  width: 100%;
}

.form-control {
  border-radius: 30px;
}

.send-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
