header{
  background-color: #191970; padding: 20px 0;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container {
  background-color: none;
  padding: 10px 0;
}

.nav-item {
  list-style-type: none;
  margin: 5px;
}

.nav-link {
  max-width: 100%;
  max-height: 100%;
  background-color: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}

.nav-link:hover, .nav-link:focus {
  color: #b37812;
}


.nav-link.active {
  color: #b37812;
}


.container{
  padding-top: 50px;
}

.nav-container {
    background-color: #f5f5f5;
    padding: 10px 0;
}

.navbar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar .nav-links .nav-item {
    margin: 0 15px;
}

.navbar .nav-links .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar .nav-links .nav-link:hover, .navbar .nav-links .nav-link.selected {
    color: #007bff; /* Màu khi hover hoặc được chọn */
}


.dropdown-menu {
  max-width: 300px; // Giới hạn chiều rộng
  .dropdown-item {
    display: block;
    white-space: normal; // Cho phép nội dung xuống dòng
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    .notification-content {
      max-height: 4.5em; // Giới hạn chiều cao, tùy chỉnh theo nhu cầu
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; // Giới hạn số dòng hiển thị
      -webkit-box-orient: vertical;
    }
    .notification-time {
      font-size: 0.75em; // Phông nhỏ hơn
      color: #6c757d; // Màu nhạt
    }
  }


}
.notification-dropdown {
  max-height: 700px; /* Chiều cao tối đa của danh sách */
  overflow-y: auto;  /* Cho phép cuộn dọc */
}


