<p>account works!</p>
<p>topic works!</p>
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Bài viết</h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Tất cả bài viết</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                      <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 197.141px;">Tiêu đề</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 319.281px;">Tạo</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 142.234px;">Cập nhật</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 66.8906px;">Người tạo</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 134.531px;">Tiền tố</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 120.922px;">Mục</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 120.922px;">Bị khóa</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 120.922px;">Thăm dò</th>
                  </tr>
              </thead>
                  <tbody>
                    <tr *ngFor="let post of posts" class="table-row" (mouseenter)="showButtons = true" (mouseleave)="showButtons = false">
                      <td>{{ post?.title }}</td>
                      <td>{{ post?.createAt }}</td>
                      <td>{{ post?.updateAt }}</td>
                      <td>{{ post?.user?.lastName }}</td>
                      <td>{{ post?.prefix?.prefixName === "" ? "Không có" : post?.prefix?.prefixName }}</td>
                      <td>{{ post?.category?.categoryName }}</td>
                      <td>{{ post?.locked === false ? "Không" : "Có" }}</td>
                      <td>{{ post?.poll === null ? "Không" : "Có" }}</td>
                      <td *ngIf="showButtons">
                        <div class="button-container">
                            <button data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" class="btn btn-danger" (click)="openDeleteModal(post?.postId)">Xóa</button>

                            <button *ngIf="post.locked === false; else unlockButton" (click)="lockPost(post?.postId)" class="btn btn-warning">Khóa</button>
                            <ng-template #unlockButton>
                                <button (click)="unlockPost(post?.postId)" class="btn btn-warning">Mở khóa</button>
                            </ng-template>
                            <button (click)="detailPost(post?.postId)" class="btn btn-info">Chi tiết</button>
                        </div>

                    </td>

                    </tr>
                  </tbody>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true" #deleteModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa bài viết này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
        <button type="button" class="btn btn-danger" (click)="deletePost()">Xóa bài</button>
      </div>
    </div>
  </div>
</div>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
            </div>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="currentPage !== 1">
                  <button class="page-link" aria-label="Previous" (click)="goToPage(currentPage - 1)">
                    <span aria-hidden="true">&laquo;</span>
                  </button>
                </li>
                <li class="page-item" *ngFor="let page of pagesToShow()" [class.active]="page === currentPage">
                  <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
                </li>
                <li class="page-item" *ngIf="currentPage !== totalPages">
                  <button class="page-link" aria-label="Next" (click)="goToPage(currentPage + 1)">
                    <span aria-hidden="true">&raquo;</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
      </div>
  </div>

</div>
